key.txt.age
.config/nvim/.git

{{ if eq .chezmoi.os "darwin" }}
.config/hypr/
.config/Kvantum/
.config/cava/
.config/electron-flags.conf
.config/imsettings/
.config/monitors.xml
.config/private_fcitx5/
.config/private_gtk-2.0/
.config/private_gtk-3.0/
.config/private_gtk-4.0/
.config/private_mimeapps.list
.config/private_mozc/
.config/qt5ct/
.config/qt6ct/
.config/rofi/
.config/wlogout/
.config/wal/
.config/wallust/
.xprofile
.mplayer/
{{ end }}
