{
  "github": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "context7": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "chrome-devtools-mcp": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "redis": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "gemini-cli-security": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "code-review": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "mcp-toolbox-for-databases": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  },
  "ralph": {
    "overrides": [
      "{{ .chezmoi.homeDir }}/*"
    ]
  }
}
